@import url("https://cdn.jsdelivr.net/npm/plusplusjakartasans@latest/plusjakartasans.css");

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  color: #000 !important;
  margin: 0;
  padding: 0;
  height: 100vh !important;
}

.channel-pic {
  width: 3rem;
}

.sidenav {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 330px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sidenav-nav .nav-item {
  margin-bottom: 10px;
}

.sidenav-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidenav-nav .active {
  color: #dc3545;
  background: #f8f8f8;
}

.sidenav-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #dc3545;
}

.shadow-btn {
  box-shadow: 0 10px 15px -3px rgb(220 53 69 / 50%),
    0 4px 6px -4px rgb(220 53 69 / 50%);
}

.profile-btn i {
  font-size: 18px;
  color: #dc3545;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fade-in {
  animation: fadeInUp 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}